@import "../variables";
@import "../mixins.scss";

.paymentPage {
  width: 100%;
  max-width: 60rem;
  margin: 10rem auto;
  padding: 2rem;
  background-color: $secondary-color;
  color: $secondary-text-color;
  border-radius: 10px;

  @include respond-to(md) {
    width: 80%;
  }

  h2 {
    font-size: 2.4rem;
    margin-bottom: 2rem;
    color: $accent-primary;
  }

  .totalPrice {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: $accent-primary;
  }
}

.paymentForm {
  display: flex;
  flex-direction: column;

  label {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }

  @keyframes roundBorder1 {
    0% {
      transform: rotate(0deg);
    }

    20% {
      transform: rotate(90deg);
    }

    80% {
      transform: rotate(270deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  .inputDate {
    margin-left: 1.5rem;
  }

  .inputCVV {
    width: 7rem !important;
  }

  .inputContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    overflow: hidden;
    width: 43rem;
    height: 5rem;
    // width: 200rem;
    // height: 200rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    border-radius: 5px;

    @include respond-to(md) {
      width: 100%;
    }

    .input {
      z-index: 1;
      padding: 1rem;
      border: 1px solid #fff;
      border-radius: 3px;
      font-size: 1.6rem;
      transition: all 0.3s;
      width: 40rem;
      height: 2rem;
      overflow: hidden;

      @include respond-to(md) {
        width: 93%;
      }

      &:focus {
        box-shadow: 0 0 10px 5px rgba(#fff, 0.2);
        border: none;
        outline: none;
      }
    }

    &.focus {
      background-color: $primary-color;
    }

    &.focus::after,
    &.focus::before {
      content: "";
      position: absolute;
      left: 50%;
      width: 80rem;
      height: 60rem;
      transform-origin: 0 center;
      z-index: 0;
    }

    &.focus::after {
      animation: roundBorder1 3s infinite linear;
      background-color: $primary-text-color;
    }

    // &.focus::before {
    //   animation: roundBorder2 3s infinite linear;
    //   background-color: $accent-primary;
    // }
  }

  .cvv {
    width: 4rem !important;
  }

  button {
    padding: 1rem 2rem;
    background-color: $primary-color;
    color: $secondary-text-color;
    border: none;
    border-radius: 5px;
    font-size: 1.8rem;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      background-color: darken($primary-color, 10%);
    }
  }
}
