@import "../../variables";
@import "../../mixins.scss";

.about-us-section {
  color: $secondary-text-color;
  padding: 6rem 0;
  border-bottom: 1px solid #fff;

  .about-us-content {
    max-width: 92rem;
    margin: 0 auto;

    @include respond-to(lg) {
      margin: 0 6rem;
    }

    @include respond-to(esm) {
      margin: 0 1rem;
    }

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 3rem;

    .aus-text {
      text-align: left;
    }

    .aus-heading {
      font-size: 2.5rem;
      font-weight: bold;
      margin-bottom: 2.5rem;
      color: $primary-text-color;

      @include respond-to(md) {
        font-size: 2rem;
      }
    }

    .aus-secondary-heading {
      font-size: 1.8rem;
      font-weight: bold;
      color: $primary-text-color;
      margin-top: 2rem;
      margin-bottom: 1rem;

      i {
        color: $accent-primary;
        margin-right: 0.5rem;
      }

      @include respond-to(md) {
        font-size: 1.6rem;
      }
    }

    .aus-description {
      font-size: 1.6rem;
      line-height: 1.6;
      margin-bottom: 2.5rem;

      @include respond-to(md) {
        font-size: 1.4rem;
      }
    }

    .aus-image {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      align-items: flex-end;

      img {
        max-width: 100%;
        max-height: 100%;
        width: auto; /* Ensure the image maintains its aspect ratio */
        border-radius: 8px;
        object-fit: cover;
      }
    }
  }
}
