@import "../../variables";
@import "../../mixins.scss";

.testimonials-section {
  text-align: center;
  padding: 8rem 0;
  color: $secondary-text-color;
  border-bottom: 1px solid #fff;
  background: linear-gradient(45deg, $primary-color, rgba($primary-color, 0.5));

  h2 {
    font-size: 2.5rem;
    margin-bottom: 5rem;

    @include respond-to(lg) {
      font-size: 2rem;
    }
  }

  .testimonials-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    flex-direction: column;

    .testimonial-item {
      display: flex;
      align-items: center;
      justify-content: center;

      .testimonial-container {
        display: flex;
        gap: 1rem;
        background-color: $primary-color;
        border: 2px solid $secondary-color;
        border-radius: 8px;

        @include respond-to(md) {
          flex-direction: column;
          align-items: center;
        }

        @include respond-to(sm) {
          width: 80%;
        }

        .testimonial-text {
          padding: 2rem;
          width: 40rem;
          display: flex;
          flex-direction: column;
          justify-content: center;

          @include respond-to(sm) {
            width: 80%;
          }

          p {
            font-size: 1.6rem;
            margin-bottom: 1.5rem;
          }

          .star-rating {
            display: flex;
            gap: 0.5rem;
            margin-top: 1rem;
            justify-content: center;

            i {
              color: $accent-primary;
              font-size: 1.5rem;
            }
          }
        }

        .testimonials-author {
          width: 20rem;
          margin-right: 2rem;
          padding: 2rem;

          img {
            border: 3px solid $secondary-color;
            width: 10rem;
            height: 10rem;
            overflow: hidden;
            object-fit: cover;
            border-radius: 50%;
          }

          .testimonial-author-text {
            font-size: 1.8rem;
            font-weight: bold;
            color: $primary-text-color;
            margin-top: 1rem;
          }
        }
      }
    }
  }
}
