@import "../variables";
@import "../mixins.scss";

.footer {
  background-color: $secondary-color;
  color: $secondary-text-color;
  padding: 4rem 8rem;
  text-align: center;
  border-top: 1px solid #fff;

  p {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }

  .heading-footer {
    color: $accent-primary;
  }

  .footerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .footerInfo {
      text-align: left;
      max-width: 40rem;

      @include respond-to(md) {
        margin-top: 2rem;
      }
    }
  }

  .social-media-links {
    margin-top: 1rem;

    a {
      margin-right: 1rem;
      font-size: 3rem;
      color: $secondary-text-color;
      transition: all 0.3s;

      &:hover {
        color: $accent-primary;
      }
    }
  }
}
