@import "../../variables";

.productDescription {
  margin-top: 1rem;

  h3 {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
  }

  p {
    color: $secondary-text-color;
    font-size: 1.4rem;
    line-height: 1.5;
  }
}
