$primary-color: #191970; // Midnight Blue
$primary-text-color: #ff1493; // Deep Pink

$secondary-color: #008080; // Teal
$secondary-text-color: #fff; //White
// $ui-secondary: #800080; // Royal Purple

$accent-primary: #ffd700; // Golden Yellow
